.digraph-edge {
	stroke: rgb(144, 190, 160);
}
#digraph-arrow {
	fill: rgb(144, 190, 160);
}
.digraph-node-text {
	font-size: 0.6rem;
}
.digraph-node-circle {
	fill: rgb(254, 255, 223);
	stroke: rgb(15, 133, 56);
}