/* Dark mode theme */
@import url("./dark.css");

/* Light mode theme */
@import url("./light.css");

pre {
  width: 100%;
  height: auto;
	font-family: "Fira Code";
  text-align: left;
  font-size: 0.8rem;
  white-space: pre;
  font-weight: normal;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--white);
  background-color: var(--black);
}

pre {
  margin: 0.5em auto;
  padding: 0.5rem 0.6rem;
  overflow: auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.3em !important;
}

pre.language-java {background-color: var(--darkBlue);}
code.language-java .token.keyword { color: var(--red); }
code.language-java .token.comment { color: var(--lightgrey); }
code.language-java .token.class-name { color: var(--lavender); }

pre.language-javascript {background-color: #042940;}
code.language-javascript {color: #9FC131;}
code.language-javascript .token.keyword { color: #fff563; }
code.language-javascript .token.operator { color: lime; }
code.language-javascript .token.comment { color: #009183; }
code.language-javascript .token.number { color: #D6D58E; }
code.language-javascript .token.property-access { color: #9bf3ec; }
code.language-javascript .token.class-name { color: rgb(13, 255, 251); }

pre.language-jsx {background-color: rgb(1, 47, 75);}
code.language-jsx .token.keyword { color: var(--red); }
code.language-jsx .token.operator { color: lime; }
code.language-jsx .token.comment { color: var(--lightgrey); }
code.language-jsx .token.class-name { color: var(--lavender); }
code.language-jsx .token.function {color: var(--gold);}
code.language-jsx .token.tag {color: var(--lavender);}
code.language-jsx .token.plain-text {color: cyan;}

pre.language-cpp {background-color: var(--black);}
code.language-cpp .token.comment { color: var(--lightgrey); }
code.language-cpp .token.keyword {color: var(--red);}
code.language-cpp .token.function {color: var(--gold);}
code.language-cpp .token.operator {color: var(--lightBlue);}
code.language-cpp .token.string {color: var(--lightGreen);}

pre.language-c {background-color: var(--black);}
code.language-c .token.comment { color: var(--lightgrey); }
code.language-c .token.keyword {color: var(--red);}
code.language-c .token.function {color: var(--gold);}
code.language-c .token.operator {color: var(--lightBlue);}
code.language-c .token.string {color: var(--lightGreen);}

