/* Dark mode theme */
@import url("./dark.css");

/* Light mode theme */
@import url("./light.css");

pre {
  width: auto;
  height: auto;
	font-family: "Fira Code";
  text-align: left;
  font-size: 0.8rem;
  white-space: pre;
  font-weight: normal;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--white);
  background-color: var(--black);
}

pre {
  margin: 0.5em auto;
  padding: 0.5rem 0.6rem;
  overflow: auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.3em !important;
}

pre.language-java {background-color: var(--darkBlue);}
code.language-java .token.keyword { color: var(--red); }
code.language-java .token.comment { color: var(--lightgrey); }
code.language-java .token.class-name { color: var(--lavender); }

pre.language-cpp {background-color: var(--black);}
code.language-cpp .token.comment { color: var(--lightgrey); }
code.language-cpp .token.keyword {color: var(--red);}
code.language-cpp .token.function {color: var(--gold);}
code.language-cpp .token.operator {color: var(--lightBlue);}
code.language-cpp .token.string {color: var(--lightGreen);}

