.theme-dark {
	--red: rgb(255, 112, 112);
	--darkRed: rgb(255, 0, 0);
	--lightGreen: rgb(138, 237, 138);
	--green: lime;
	--lightBlue: rgb(112, 255, 234);
	--blue: rgb(0, 255, 255);
	--black: rgb(26, 26, 26);
	--white: white;
	--lightGrey: rgb(165, 165, 165);
	--darkBlue: rgb(25, 25, 81);
	--lavender: rgb(229, 131, 229);
	--gold: gold;
	--orange: rgb(245, 168, 2);

	/* Core Colors */
	--background-color: rgb(42, 42, 42);
	--text-color: rgb(220, 220, 220);
	--nav-content-background-color: rgb(14, 31, 68);

	/* Heading color */
	--heading-color: rgb(255, 184, 69);

	/* Border */
	--border: solid thin grey;

	/* Theme toggle box-shadow */
	--container-box-shadow: -8px -4px 8px 0px #212121, 8px 4px 12px 0px #27292d, 4px 4px 4px 0px #313131 inset, -4px -4px 4px 0px #1a1a1a inset;

	--indicator-box-shadow: rgba(255, 113, 113, 0.2) 0 -1px -15px 1px, inset rgb(102, 80, 0) 0 -1px 9px, #ca9625 0 2px 14px;

	--indicator-background: radial-gradient(#e67e22 45%, #f39c12 75%);

	/* Special Box Background */
	--box-background-color: rgb(65, 65, 65);

	/* Call number styles */
	--call-border: solid thin rgb(132, 241, 255);
	--call-text-color: rgb(132, 241, 255);

	/* Box Shadows */
	--box-shadow: 0px 1px 4px 1px #202020, 1px 2px 2px #232323;
	--svg-shadow: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7))
	--box-shadow-hover: 1px 1px 2px rgb(36, 36, 36);
	--box-shadow-border: 1px solid #2e2e2e;
	--box-shadow-pressed: inset 0.063rem 0.063rem 0.125rem #1e1e1e,
		inset -0.063rem -0.063rem 0.125rem rgb(38, 38, 38);
	--box-shadow-active: 1px 1px 2px rgb(56, 56, 56);

/* illus palette */
	/* Binary Tree */
		--binary-tree-edge-color: var(--red);
		--binary-tree-node-fill-color: var(--background-color);
		--binary-tree-text-color: var(--red);

	/* Tree */
		--tree-edge-color: var(--red);
		--tree-node-fill-color: var(--background-color);
		--tree-text-color: var(--red);
		--tree-annotation-color: var(--text-color);
		--tree-height-color: var(--text-color);
		--tree-depth-color: var(--text-color);
		--tree-level-color: var(--text-color);
		--tree-balance-factor-color: var(--text-color);
		--tree-imbalance-factor-color: var(--red);
		--tree-balance-factor-color: var(--green);
		--tree-node-mark-fill: var(--background-color);
		--tree-node-mark-stroke: var(--blue);
		--tree-node-mark-text: var(--blue);
	
	/* MTrees */
		--mtree-edge-color: cyan;
		--mtree-node-fill-color: var(--background-color);
		--mtree-text-color: cyan;

	/* sequences */
		--sequenceElementFill: var(--black);
		--sequenceElementStroke: var(--white);
		--sequenceElementTextColor: var(--white);
		--sequenceElementIndexColor: var(--red);
		--sequenceAnnotationColor: var(--lightBlue);

	/* matrices */
		--matrixElementFill: var(--black);
		--matrixElementStroke: var(--white);
		--matrixElementTextColor: var(--white);
		--matrixIndexColor: var(--red);
		--matrixFocusFillColor: var(--orange);
		--matrixFocusTextColor: var(--white);

	/* Linked Lists */
		--linkedListDataFieldFill: var(--background-color);
		--linkedListDataFieldTextColor: var(--text-color);
		--linkedListNextFieldFill: var(--background-color);
		--linkedListLinkColor: var(--red);
		--linkedListIndexColor: var(--lightGrey);

	/* Circular Linked Lists */
		--circularListDataFieldFill: var(--background-color);
		--circularListDataFieldTextColor: var(--white);
		--circularListNextFieldFill: var(--background-color);
		--circularListLinkColor: var(--red);
		--circularListIndexColor: var(--red);
	
	/* Doubly Linked Lists */
		--doublyLinkedListDataFieldFill: var(--background-color);
		--doublyLinkedListTextColor: var(--red);
		--doublyLinkedListNextFieldFill: var(--red);
		--doublyLinkedListPrevFieldFill: var(--red);
		--doublyLinkedListLinkColor: var(--red);
		--doublyLinkedListIndexColor: var(--red);
	/* Stacks */
		--stackFrameFill: var(--background-color);
		--stackFrameText: var(--text-color);
	/* Queues */
		--queuerFill: var(--background-color);
		--queuerTextColor: var(--white);
		--queuerIndexFill: var(--background-color);
		--queuerIndexTextColor: var(--white);
		--queuerAnnotationColor: var(--red);
		--queuerFocusRedFill: var(--darkRed);
		--queuerFocusRedStroke: var(--red);
	/* Circular Queues */
		--circularQueuerFill: var(--background-color);
		--circularQueuerStroke: var(--lightBlue);
		--circularQueuerTextColor: var(--lightBlue);
		--circularQueuerIndexColor: var(--lightGrey);
	/* Parse Tree */
		--parseTreeEdgeColor: var(--red);
		--parseTreeTextColor: var(--text-color);
	/* Dot Plot */
		--dotPlotCircleFill: var(--background-color);
		--dotPlotCircleStroke: var(--red);
		--dotPlotAxisColor: var(--red);

	/* Plot  */
		--point-fill-color: var(--blue);
		--point-stroke-color: var(--blue);
		--plot-axes-color: rgb(106, 106, 106);
	/* Flow */
		--flow-stroke-color: var(--lightBlue);
		--flow-fill-color: var(--background-color);		
}