:root {
	--doubly-linked-list-rect-fill: rgb(136, 207, 207);
	--doubly-linked-list-focus-rect-fill: rgb(246, 177, 165);
}
.enfig-index text {
	font-family: "Noto Serif";
}

/* Binary Tree */
.BinaryTree {
	width: 70%;
}

.binary-tree-edge {
	stroke: var(--blue);
}
.binary-tree-node-text {
	font-size: 0.5rem;
	fill: white;
}
.binary-tree-node circle {
	fill: var(--brightRed);
	stroke: var(--red);
}
.binary-tree-node-focus-blue circle {
	fill: rgb(101, 193, 183);
	stroke: var(--blue);
}
.binary-tree-node-focus-green circle {
	fill: rgb(101, 193, 101);
	stroke: rgb(0, 114, 57);
}
.binary-tree-node-focus-deleted circle,
.binary-tree-node-focus-deleted text {
	fill: var(--background-color);
	stroke: var(--background-color);
}
.sequence-element-rect {
	stroke: black;
	fill: white;
}
.sequence-element-focus-deleted .sequence-element-text {
	fill: white;
}
.sequence-element-focus-blue rect {
	fill: rgb(101, 193, 183);
}
.sequence-element-focus-blue .sequence-element-text {
	fill: white;
}
.sequence-element-focus-green rect {
	fill: rgb(101, 193, 101);
}
.sequence-element-focus-green .sequence-element-text {
	fill: white;
}

/* Linked Lists */
	.linked-list .node-data-field rect { fill: var(--linked-list-data-color); }
	.linked-list .node-data-field text { fill: var(--linked-list-text-color); }
	.linked-list .node-next-field rect { fill: var(--linked-list-next-color); }
	.linked-list rect {stroke: var(--linked-list-stroke-color)}
	.linked-list .linked-list-link line {stroke: var(--linked-list-link-color)}
	.linked-list .linked-list-link circle {stroke: var(--linked-list-link-color)}
	#linked-list-arrow {fill: var(--linked-list-link-color)}

/* Circular Lists */
.illus {
	margin: 0 auto;
}
.LinkedList {
	width: 70%;
}
.CircularList {
	width: 70%;
}
.circular-list .node-next-field rect {
	fill: rgb(255, 253, 220);
}
#circular-list-arrow,
.circular-list-pointer-start {
	fill: firebrick;
}

.circular-queuer path {
	fill: rgb(29, 67, 72);
	stroke: white;
}

.address-circular-queue .circular-queuer-data-text {
	font-size: 0.55rem;
	fill: orange;
}
.address-circular-queue .circular-queuer-index-text {
	font-size: 0.55rem;
	fill: slategrey;
}

.circular-list-link {
	stroke: firebrick;
}

.htree-node-text {
	font-size: 0.7rem;
	fill: #316b83;
}
.htree-edge {
	stroke: #316b83;
}
#htree-arrow {
	fill: #316b83;
}
.htree-node circle {
	stroke: #316b83;
	fill: rgb(245, 255, 255);
}
.matrix-element-rectangle {
	fill: white;
	stroke: black;
}
.matrix-element-rectangle-focused {
	fill: black;
}
.matrix-element-text {
	fill: black;
}
.matrix-element-text-focused {
	fill: white;
}
.matrix-row-indices text {
	font-size: 0.8rem;
}
.matrix-column-indices text {
	font-size: 0.8rem;
}
.doubly-linked-list-node .node-next-field rect {
	fill: var(--doubly-linked-list-rect-fill);
}

.doubly-linked-list .focus .node-next-field rect {
	fill: var(--doubly-linked-list-focus-rect-fill);
}

.doubly-linked-list-node .node-prev-field rect {
	fill: var(--doubly-linked-list-rect-fill);
}

.doubly-linked-list .focus .node-prev-field rect {
	fill: var(--doubly-linked-list-focus-rect-fill);
}

.doubly-linked-list .node-annotation-text {
	font-size: 0.5rem;
}

.queue .queue-data text {
	font-size: 1.3rem;
}
.queue .focus-red .queue-data text {
	fill: white;
}

.queuer .queuer-data-field rect {
	fill: rgb(243, 255, 255);
}

.queue .focus-red rect {
	fill: rgb(255, 151, 133);
}

.queue .focus-red .queuer-index-field rect {
	fill: tomato;
}

.queuer .queuer-index-field rect {
	fill: rgb(101, 192, 192);
}

.queuer .queuer-index-field text {
	fill: white;
}

.queue-annotation text {
	font-size: 1.2rem;
}

.sequence .enfig-index text {
	font-size: 0.7rem;
}

.sequence-annotation text {
	font-size: 0.9rem;
}

.queuer-path {
	fill: rgb(50, 74, 98);
	stroke: white;
}
.queuer-data-text {
	fill: white;
}
.queuer-index-text {
	fill: grey;
	font-size: 0.75rem;
}

.node-text {
	font-size: 0.55rem;
}
.tree-edge {
	stroke: #cc7351;
}
#tree-arrow {
	fill: #cc7351;
}
.stack text {
	font-size: 0.8rem;
}
.node-circle {
	stroke: #eb8242;
}
.tree-node-focus-red circle {
	fill: rgb(255, 55, 19);
	stroke: rgb(87, 0, 0);
}
.tree-node-focus-blue circle {
	fill: rgb(0, 123, 160);
	stroke: rgb(0, 14, 87);
}
.tree-link-name text {
	fill: black;
	font-size: 0.5rem;
}

.node-circle-branch {
	fill: #ffeb99;
}
.node-circle-leaf {
	fill: #e7fbbe;
	stroke: green;
}
.sequence-element-focus-red rect {
	fill: tomato;
	stroke: rgb(82, 0, 0);
}
.sequence-element-focus-red text {
	fill: white;
}
.sequence-element-focus-fire rect {
	fill: rgb(212, 67, 0);
	stroke: rgb(82, 0, 0);
}
.sequence-element-focus-fire text {
	fill: white;
}

.tick text {
	font-family: "Noto Serif";
}

.graph circle {
	fill: rgb(255, 219, 129);
	stroke: firebrick;
}
.graph .graph-edge line {
	stroke: rgb(114, 114, 114);
	stroke-width: 1;
}
.graph .graph-node-focus-blue circle {
	fill: cyan;
	stroke: teal;
}

.graph .graph-node-focus-green circle {
	fill: lime;
	stroke: forestgreen;
}
.graph .graph-edge-hl line {
	stroke-width: 2;
	stroke: rgb(243, 20, 0);
}

.illus-axis text {fill: var(--illus-axis-color)}
.illus-axis line {stroke: var(--illus-axis-color)}
.illus-axis path {stroke: var(--illus-axis-color)}
#xArrowLeft {fill: var(--illus-axis-color)}
#xArrowRight {fill: var(--illus-axis-color)}
#yArrowBottom {fill: var(--illus-axis-color)}
#yArrowTop {fill: var(--illus-axis-color)}

/* Plane */
/* Lines */
.plot_line_red line {stroke: var(--red)}
.plot_line_blue line {stroke: var(--blue)}

/* Line Segments */
.plot_line_segment_green line {stroke: var(--green)}
.plot_line_segment_green circle, 
.plot_line_segment_green circle {
	stroke: var(--green);
	fill: var(--background-color);
}

/* Plot Points */
.plot_point circle {
	stroke: var(--red);
	fill: var(--background-color);
}


/* Graphs */
.graph .graph-node text {fill: var(--graph-node-text-color)}