
/* Dark mode theme */
	@import url("./dark.css");

/* Light mode theme */
	@import url("./light.css");

/* Illus styles */
	@import url("./illus.css");

/* Font Imports */
	@font-face {
		font-family: "serif_main";
		src: url("./fonts/serif_main_regular.woff");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "serif_main";
		src: url("./fonts/serif_main_italics.woff");
		font-style: italic;
		font-weight: normal;
	}
	@font-face {
		font-family: "serif_main";
		src: url("./fonts/serif_main_bold.woff");
		font-style: normal;
		font-weight: bold;
	}
	@font-face {
		font-family: "sans_serif_main";
		src: url("./fonts/sans_serif_main.woff");
		font-weight: bold;
		font-style: normal;
	}

	/* "Noto Emoji",  "serif_main",  */

/* Root Variables */
	:root {
		--serif: "Iowan Old Style", Palatino, "Calisto MT", "Bitstream Charter", Georgia, "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--sans_serif: avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--mono: "Fira Mono", Menlo, Consolas, Monaco, Liberation Mono, "Lucida Console", monospace;
	}

/* Global HTML */
	html {
		background-color: var(--background-color);
		scroll-behavior: smooth;
	}

/* KaTeX */
	span.katex {font-size: 1em;}
	.Plot span.mord.texttt {
		font-family: var(--mono);
		font-size: 0.53rem;
	}
	.Plot span.mord.text {
		font-family: var(--serif);
		font-size: 0.6rem;
	}

/* Scroll bars */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-track {
  margin: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.theme-dark .figureImage {
  filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
	.theme-dark {};
	.theme-light {};
} 

@media (prefers-color-scheme: light) {
	.theme-light {};
	.theme-dark {};
}

html {font-size: 16px;}





.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 10px;
}