.theme-light {
	--lightRed: rgb(255, 180, 180);
	--red: rgb(255, 112, 112);
	--darkRed: rgb(229, 0, 0);
	--lightGreen: rgb(227, 255, 227);
	--green: forestgreen;
	--paleGreen: rgb(197, 234, 197);
	--darkGreen: rgb(0, 129, 0);
	--lightBlue: rgb(112, 255, 234);
	--blue: teal;
	--paleBlue: rgb(149, 187, 205);
	--darkBlue: rgb(0, 155, 207);
	--black: rgb(41, 41, 41);
	--white: white;
	--lightGrey: rgb(147, 147, 147);
	--darkBlue: rgb(38, 38, 117);
	--lavender: rgb(216, 142, 216);
	--purple: rgb(131, 8, 131);
	--gold: gold;
	--paleGold: rgb(255, 251, 233);
	--orange: rgb(255, 186, 68);

	/* Core Colors */
	--background-color: #ffffff;
	--text-color: black;
	--nav-content-background-color: rgb(255, 253, 240);

	/* Heading color */
	--heading-color: firebrick;

	/* Border */
	--border: solid thin grey;

	/* Theme toggle box-shadow */
	--container-box-shadow: 
			-8px -4px 8px 0px #ffffff, 
			4px 2px 6px 0px #d8dade, 
			4px 4px 4px 0px #d1d9e6 inset, 
			-4px -4px 4px 0px #ffffff inset;
	--indicator-box-shadow:
			-2px 0px 4px 0px #a0a0a03f, 
			8px 4px 10px 0px #d1d9e6;
	--indicator-background: #f1f4f6;

	/* Special Box Background */
	--box-background-color: var(--background-color);

	/* Call number styles */
	--call-border: solid thin rgb(74, 105, 172);
	--call-text-color: rgb(74, 105, 172);

	/* Box Shadows */
	--box-shadow: 0px 1px 0 #bbbbbb, 1px 1px 2px #bdbdbd;
	--drop-shadow: 3px 3px 2px rgba(0, 0, 0, .7)
	--box-shadow-hover: 1px 1px 2px rgb(228, 228, 228);
	--box-shadow-border: 1px solid #ececec;
	--box-shadow-pressed: inset 0.063rem 0.063rem 0.125rem #858585,
		inset -0.063rem -0.063rem 0.125rem white;
	--box-shadow-active: 1px 1px 2px rgb(104, 104, 104);

/* illus palette */
	/* Binary Trees */
		--binary-tree-edge-color: firebrick;
		--binary-tree-node-fill-color: tomato;
		--binary-tree-text-color: white;

	/* Tree */
		--tree-edge-color: firebrick;
		--tree-node-fill-color: tomato;
		--tree-text-color: var(--white);
		--tree-annotation-color: var(--text-color);
		--tree-height-color: var(--text-color);
		--tree-depth-color: var(--text-color);
		--tree-level-color: var(--text-color);
		--tree-balance-factor-color: var(--text-color);
		--tree-imbalance-factor-color: firebrick;
		--tree-balance-factor-color: var(--green);
		--tree-node-mark-fill: var(--blue);
		--tree-node-mark-stroke: var(--darkBlue);
		--tree-node-mark-text: var(--white);
	
	/* MTrees */
		--mtree-edge-color: var(--text-color);
		--mtree-node-fill-color: var(--background-color);
		--mtree-text-color: var(--text-color);

	/* Sequences */
		--sequenceElementFill: var(--white);
		--sequenceElementStroke: var(--black);
		--sequenceElementTextColor: var(--black);
		--sequenceElementIndexColor: var(--lightGrey);
		--sequenceAnnotationColor: var(--red);

	/* Matrices */
		--matrixElementFill: var(--white);
		--matrixElementStroke: var(--black);
		--matrixElementTextColor: var(--black);
		--matrixIndexColor: var(--lightGrey);
		--matrixFocusFillColor: var(--black);
		--matrixFocusTextColor: var(--orange);

	/* Linked Lists */
		--linkedListDataFieldFill: var(--white);
		--linkedListDataFieldTextColor: var(--text-color);
		--linkedListNextFieldFill: var(--paleBlue);
		--linkedListLinkColor: var(--darkRed);
		--linkedListIndexColor: var(--lightGrey);

	/* Circular Linked Lists */
		--circularListDataFieldFill: var(--white);
		--circularListDataFieldTextColor: var(--text-color);
		--circularListNextFieldFill: var(--paleBlue);
		--circularListLinkColor: var(--darkRed);
		--circularListIndexColor: var(--lightGrey);

	/* Doubly Linked Lists */
		--doublyLinkedListDataFieldFill: var(--white);
		--doublyLinkedListTextColor: var(--text-color);
		--doublyLinkedListNextFieldFill: var(--paleBlue);
		--doublyLinkedListPrevFieldFill: var(--paleBlue);
		--doublyLinkedListLinkColor: var(--darkRed);
		--doublyLinkedListIndexColor: var(--red);

	/* Stacks */
		--stackFrameFill: var(--darkRed);
		--stackFrameText: var(--white);

	/* Queues */
		--queuerFill: var(--white);
		--queuerTextColor: var(--black);
		--queuerIndexFill: var(--paleBlue);
		--queuerIndexTextColor: var(--white);
		--queuerAnnotationColor: var(--red);
		--queuerFocusRedFill: var(--darkRed);
		--queuerFocusRedStroke: var(--darkRed);
	/* Circular Queues */
		--circularQueuerFill: var(--paleGreen);
		--circularQueuerStroke: var(--darkGreen);
		--circularQueuerTextColor: var(--darkGreen);
		--circularQueuerIndexColor: var(--lightGrey);
	/* Parse Tree */
		--parseTreeEdgeColor: var(--darkRed);
		--parseTreeTextColor: var(--text-color);
	/* Dot Plot */
		--dotPlotCircleFill: var(--background-color);
		--dotPlotCircleStroke: var(--darkGreen);
		--dotPlotAxisColor: var(--darkGreen);
	/* Plot */
		--point-fill-color: var(--darkRed);
		--point-stroke-color: var(--darkRed);
	/* Flow */
		--flow-stroke-color: var(--text-color);
		--flow-fill-color: var(--background-color);
}