.navContainer {
	border: solid thin red;
}
.navControls {
	display: flex;
	justify-content: space-between;
}

/* Nav Content */

.navContent {
	position: fixed;
	background-color: var(--nav-content-background-color);
	border-radius: 6px;
	overscroll-behavior: contain;
	box-shadow: var(--box-shadow);
	width: 0;
	height: 0;
	top: 4%;
	left: 0;
	overflow-y: scroll;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	padding: 1em;
	padding-bottom: 10rem;
	transition: 0.3s ease-in;
}
.navContent ul {margin-left: 0.2rem}
.navContent li {
	margin: 2rem 0.8rem;
	line-height: 0;
	/* border: solid thin red; */
	list-style-type: none;
}

.showNav {
	visibility: visible;
	opacity: 1;
	width: 100%;
	height:90%;
	transition: opacity 0.4s ease-in;
	/* opacity: 1; */
	/* transition: 0.5s ease-in; */
}

/* Nav Button */
.button {
	border: var(--box-shadow-border);
	color: var(--text-color);
	font-family: var(--serif);
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	border-radius: 0.2em;
	transition: all 1ms linear;
	cursor: pointer;
}
.button:hover {
	box-shadow: var(--box-shadow-hover);
	transition: all 1ms linear;
}
.pressed {
	box-shadow: var(--box-shadow-pressed);
}
.button:active {
	box-shadow: var(--box-shadow-active);
}

@media (min-width: 700px) {
	.navContent {
		width: 70%;
	}
}