.navContainer {
	border: solid thin red;
}
.navControls {
	display: flex;
	justify-content: space-between;
}

/* Nav Content */

.navContent {
	position: fixed;
	background-color: var(--nav-content-background-color);
	border-radius: 6px;
	box-shadow: var(--box-shadow);
	width: 90%;
	height: 75%;
	top: 4%;
	left: 5%;
	overflow-y: scroll;
	overscroll-behavior: contain;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease;
	padding: 1em;
}
.navContent li {
	margin: 1rem 0;
}

.showNav {
	visibility: visible;
	opacity: 1;
}

/* Nav Button */
.button {
	border: var(--box-shadow-border);
	color: var(--text-color);
	font-family: var(--serif);
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	border-radius: 0.2em;
	transition: all 1ms linear;
	cursor: pointer;
}
.button:hover {
	box-shadow: var(--box-shadow-hover);
	transition: all 1ms linear;
}
.pressed {
	box-shadow: var(--box-shadow-pressed);
}
.button:active {
	box-shadow: var(--box-shadow-active);
}