.label {
  cursor: pointer;
}
.label svg {
  margin-top: 2px;
  width:20px;
  height:20px;
}
.container {
}

/* .container {
  isolation: isolate;
  border: solid thin red;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 15px;
	margin: 2px 8px;
  overflow: hidden;
  box-shadow: var(--container-box-shadow);
} */

.checkbox { display: none; }

